#header {
  margin: 10px;
  display: flex;
  gap: 10px;
}

#header a {
  text-decoration: none;
  color: white;
}

#header a:hover {
  color: rgb(218, 193, 91);
}

#create_workout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.form_item{
  align-self: center;
}




