#header {
  margin: 10px;
  display: flex;
  gap: 10px;
}

#header a {
  text-decoration: none;
  color: white;
}

#header a:hover {
  color: rgb(218, 193, 91);
}

#create_workout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

table {
  width: 100%;

}

td button {
  margin: 2px;
}
#current_workouts {
  border-collapse: collapse;
  border-style: none;
  color: white;
}
#current_workouts tr.workouts {
  border-radius: 80px;
  border-style: solid;
  border-color: rgb(236, 229, 193);
  background-color: rgb(23, 37, 48);
  margin: 10px;
}

button.remove {
  background-color: red;
  border-color: red;
}

button.edit {
  background-color: rgb(82, 151, 21);
  border-color:  rgb(82, 151, 21);
}

button {
  border-radius: 5px;
}
